<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
<title>Loja Belleza intima</title>

</head>
<body>
	<div th:insert="~{layout/menu}"></div>
	
	<h1>Belleza Intima</h1>

<form name="salvar_usuario" class="form-horizontal" method="POST" th:action="@{/salvar_usuario}" th:object="${usuarioEntity}">

	<div class="login-container">
	        <h2>Login</h2>
	         <input type="name" placeholder="nome" id="nome" name="nome" required>
	          <input type="tel" placeholder="telefone" id="telefone" name="telefone" required maxlength="11">
	        <input type="email" placeholder="Email" id="email" name="email" required>
	        <input type="password" placeholder="Senha"id="senha" name="senha" required>
	        <button type="submit">Salvar</button>
	        <p><a href="#" style="color: white;">Esqueci a senha</a></p>
	    </div>
	<td>
		<a class="delete btn btn-sm btn-danger" th:href="@{excluir_usuario/{idUsuario}(idUsuario=${usuario.idUsuario})}" onclick="if (confirm('Deseja realmente excluir o usuário?')){return true;}else{event.stopPropagation(); event.preventDefault();};">Excluir</a>
    </td>		
</form>    
	

</body>
</html>