<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<html>
<head th:insert="~{layout/cabecalho}">
<title>Loja Belleza intima</title>
</head>

<style>
	body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 12px;
}

form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
</style>

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/produto"><h4>Belleza íntima</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/pedido"><h6>Pedido</h6></a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/produto"><h6>Produtos</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login"><h6>Login</h6></a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/cadastro"><h6>Cadastro</h6></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<form name="salvar_usuario" class="form-horizontal" method="POST" th:action="@{/salvar_usuario}" th:object="${usuarioEntity}">
	
	<div class="alert alert-success" th:text="${mensagem}"
	 th:if="${not #strings.isEmpty(mensagem)}"></div>

	<div class="login-container">
	        <h2>Cadastre-se</h2>
			
			<div class="mb-3">
				<label for="nome" class="form-label">Nome</label>
				<input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome Login" required>
			</div>
			
			<div class="mb-3">
			    <label for="nome" class="form-label">Senha</label>
			    <input type="text" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" required>
			</div>
			
			<div class="mb-3">
				<label for="nome" class="form-label">Telefone</label>
				<input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite seu Telefone" required maxlength="11">
			</div>
			
			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="arrozcomfeijão@gmail.com" required>
			</div>
			
			<div class="mb-3">
				<label for="nome" class="form-label">Cpf</label>
				<input type="text" class="form-control" id="cpf" name="cpf" placeholder="Digite seu CPF" required maxlength="11">
			</div>
			
			<div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit">Salvar</button>
            </div>

</form>    


<br>
<h5 class="card-title">Usuarios Cadastrados</h5>
   <table class="table table-sm table-striped table-hover table-bordered">
		       <thead>
				     <tr>
						  <th>ID</th>
						  <th>NOME</th>
						  <th>TELEFONE</th>
						  <th>EMAIL</th>
						   <th>CPF</th>
					 </tr>
					 
			   </thead>
			   <tbody>
				   <tr th:each="usuario : ${cadastrados}">
					   <td th:text="${usuario.Id_usuario}"></td>
					   <td th:text="${usuario.nome}"></td>
					   <td th:text="${usuario.telefone}"></td>
					   <td th:text="${usuario.email}"></td>
					   <td th:text="${usuario.cpf}"></td> 
					   <td><a class="btn btn-sm btn-danger" th:href="@{excluir_usuario/{id}(id=${usuario.Id_usuario})}" >Excluir</a></td> 
					   <td><a class="btn btn-sm btn-warning" th:href="@{alterar_usuario/{id}(id=${usuario.Id_usuario})}" >Alterar</a></td> 
					 
				   </tr>   
			   </tbody>
	</table>
<style>
	
</style>
</body>
</html>