<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout/cabecalho}" >
<title>Loja Belleza intima</title>
</head>
<body >
 <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/produto"><h4>Belleza íntima</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/pedido"><h6>Pedido</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/produto"><h6>Produtos</h6></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/login"><h6>Login</h6></a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="/cadastro"><h6>Cadastro</h6></a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Pesquise produtos aqui" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form>
          </div>
        </div>
      </nav>
      
      
        <section class="home" id="home">
        <div class="home-text container">
            <h2 class="home-title">Produtos</h2><br>
            <h4>Seu lugar onde sua beleza importa.</h4>
        </div>
    </section>

    <section class="post container">

        <div class="post-box lingerie">
            <img src="/src/main/resources/static/img/langerire.jpg" alt="" class="lingerie-img">
            <h2 class="category">lingerie</h2>
            <p class="post-description"><h4>DESCRIÇÃO:
                Conjunto de lingerie de tule importado. Modelo sem bojo, possui aro no peito.</h4> 
                <p>Preço: R$ 100,00</p>
                <button class="comprar">Comprar</button>
        </div>

    <div class="post-box cereja">
        <img src="/src/main/resources/static/img/calcinha cereja.jpg" alt="" class="calcinhacareja-img">
        <h2 class="category">Calcinha cereja</h2>
        <p class="post-description"><h4>DESCRIÇÃO:
            Calcinha com detalhes em renda, regulável.</h4></p>
            <p>Preço: R$ 100,00</p>
            <button class="comprar">Comprar</button>
    </div>

    <div class="post-box amor">
        <img src="/src/main/resources/static/img/calcinha coração.jpg" alt="" class="calcinhaamor-img">
        <h2 class="category">Calcinha-amor</h2>
        <p class="post-description"><h4>DESCRIÇÃO:
            Calcinha com tule em formato coração, cavada e fio duplo atrás.</h4>
            <p>Preço: R$ 100,00</p>
            <button class="comprar">Comprar</button>
        </p>
    </div>

    <div class="post-box ">
        <img src="/src/main/resources/static/img/Boronesa.jpg" alt="" class="Boronesa-img">
        <h2 class="category">Boronesa</h2>
        <p class="post-description"><h4>DESCRIÇÃO:
            Conjunto sem bojo com detalhes em renda.</h4></p>
            <p>Preço: R$ 100,00</p>
            <button class="comprar">Comprar</button>
    </div>

    <div class="post-box ">
        <img src="/src/main/resources/static/img/lingerie2.jpg" alt="" class="lingerie2-img">
        <h2 class="category">lingerie</h2>
        <p class="post-description"><h4>DESCRIÇÃO:
            Conjunto sem bojo com detalhes em renda.</h4></p>
            <p>Preço: R$ 100,00</p>
            <button class="comprar">Comprar</button>
    </div>

    <div class="post-box ">
        <img src="/src/main/resources/static/img/lingerie3.jpg" alt="" class="lingerie3-img">
        <h2 class="category">lingerie</h2>
        <p class="post-description"><h4>DESCRIÇÃO:
            Conjunto sem bojo com detalhes em renda.</h4></p>
            <p>Preço: R$ 100,00</p>
            <button class="comprar">Comprar</button>
    </div>
</section>

<script src="/src/main/resources/static/js/estiloproduto.js"
integrity="sha256-H+K7U5CnXl1h5ywQfktSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>
</body>
</html>